
/*Reset*/

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my-container{

    width: 80%;
    background-color: aquamarine;
    padding: 50px;
    margin: 50px auto;

}

.container-list{

    width: 100%;
    margin:40px auto;

}

.done{

    text-decoration: line-through;
}